#modo {
  width: 30px;
  font-size: 70px;
  margin: auto;
  cursor: pointer;
}

.dark {
  background: #333;
}
.dark div {
  color: white;
}
.dark .navbar {
  background: #333;
  color: white;
}
.dark a {
  color: white;
}
.dark .card-body {
  color: rgb(255, 255, 255);
}
.dark .navbar-expand-lg .bg-light {
  background: #333;
  color: white;
}
.dark .navbar {
  background: #333;
}
.dark .accordion-collapse {
  background: #333;
  color: white;
}

/* popup */
.dark .modal-body {
  background: #333;
  color: white;
}
.dark .modal-header {
  background: #333;
  color: white;
}
.dark .modal-footer {
  background: #333;
  color: white;
}
/* fin popup */
.dark .navbar-toggler-icon {
  color: white;
}
.dark .carousel-item {
  color: white;
}
.dark .div.card-body{
  color: white;
}
.dark #blogDark{
  color: rgb(0, 0, 0);
}

.dark #tarjetaTienda{
background-color: #333;
}
.dark #tarjetaServicios{
  color: rgb(0, 0, 0);
}
.dark #ofertaTitulo{
  color: white;
}
