body {
  margin: 15px;
}
.cuerpodeCarta {
  margin: 15px;
}
.botonP {
  text-align: center;
}
.imagenP {
  width: 55%;
}

/* css de boton modo dark */
/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  --background: #28096b;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background);
  transition: 0.5s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 1.4em;
  width: 1.4em;
  border-radius: 50%;
  left: 10%;
  bottom: 15%;
  box-shadow: inset 8px -4px 0px 0px #fff000;
  background: var(--background);
  transition: 0.5s;
}

input:checked + .slider {
  background-color: #522ba7;
}

input:checked + .slider:before {
  transform: translateX(100%);
  box-shadow: inset 15px -4px 0px 15px #fff000;
}
.navbar {
  background: rgb(255, 255, 255);
}
/* fin de css */

/* check */

/* fin check */

/*! other */
.carousel-caption {
  color: white;
}

/* botones flotante */
/* .containerBotonFlotante {
  position:fixed;
  bottom: 20px;
  right: 20px;
}

#btn-mas {
  display: none;
}

.redes a,
.btn-mas label {
  display: block;
  text-decoration: none;
  background: #000000;
  color: #fff;
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
  transition: all 500ms ease;
}
.redes a:hover {
  background: #fff;
  color: #000000;
}
.redes a {
  margin-bottom: -15px;
  opacity: 0;
  visibility: hidden;
}
#btn-mas:checked ~ .redes a {
  margin-bottom: 10px;
  opacity: 1;
  visibility: visible;
}
.btn-mas label {
  cursor: pointer;
  background: #000000;
  font-size: 23px;
}
#btn-mas:checked ~ .btn-mas label {
  transform: rotate(135deg);
  font-size: 25px;
} */
/* salir flotante */



/* !BOTON FLOTANTE 2.0 */
.btn-flotante {
	font-size: 40px; /* Cambiar el tamaño de la tipografia */
	text-transform: uppercase; /* Texto en mayusculas */
  text-align: center;
	font-weight: bold; /* Fuente en negrita o bold */
	color: #ffffff; /* Color del texto */
	border-radius: 50px; /* Borde del boton */
	letter-spacing: 2px; /* Espacio entre letras */
	background-color: #14ec38; /* Color de fondo */
	padding: 10px 22px; /*Relleno del boton */
	position: fixed;
	bottom: 40px;
	right: 40px;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgb(255, 255, 255);
	z-index: 99;
}
.btn-flotante:hover {
	background-color: #171717; /* Color de fondo al pasar el cursor */
	box-shadow: 0px 15px 20px rgb(255, 255, 255);
	transform: translateY(-7px);
}
@media only screen and (max-width: 600px) {
 	.btn-flotante {
		font-size: 28px;
		padding: 12px 20px;
		bottom: 20px;
		right: 20px;
	}
} 
/*! FIN BOTON FLOTANTE */











/* boton flotante carrito */
.btn-wsp {
  position: fixed;
  width: 60px;
  height: 60px;
  line-height: 63px;
  bottom: 25px;
  right: 25px;
  background: #000000;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 35px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
  transition: all 300ms ease;
  text-decoration: none;
}
.btn-wsp:hover {
  background: #2e8e0b;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .btn-wsp {
    width: 63px;
    height: 63px;
    line-height: 66px;
  }
}
/* salir boton carrito */

.bodyConten {
  margin-top: 75px;
  width: 50%;
}

/*! scroll */
@import url('https://fonts.googleapis.com/css?family=Montserrat');

:root {
  /* --marquee-width: 80vw; */
  --marquee-width: 100%;
  --marquee-height: 20vh;
  /* --marquee-elements: 12; */ /* defined with JavaScript */
  --marquee-elements-displayed: 5;
  --marquee-element-width: calc(
    var(--marquee-width) / var(--marquee-elements-displayed)
  );
  --marquee-animation-duration: calc(var(--marquee-elements) * 3s);
}

.marquee {
  width: var(--marquee-width);
  height: var(--marquee-height);
  background-color: rgb(43, 43, 43);
  color: #eee;
  overflow: hidden;
  position: relative;
  margin-bottom: 75px;
  margin-top: 25px;
}
.marquee:before,
.marquee:after {
  position: absolute;
  top: 0;
  width: 10rem;
  height: 100%;
  content: '';
  z-index: 1;
}
.marquee:before {
  left: 0;
  background: linear-gradient(to right, #111 0%, transparent 100%);
}
.marquee:after {
  right: 0;
  background: linear-gradient(to left, #111 0%, transparent 100%);
}
.marquee-content {
  list-style: none;
  height: 100%;
  display: flex;
  animation: scrolling var(--marquee-animation-duration) linear infinite;
}
/* .marquee-content:hover {
  animation-play-state: paused;
} */
@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(
      calc(-1 * var(--marquee-element-width) * var(--marquee-elements))
    );
  }
}
.marquee-content li {
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  flex-shrink: 0;
  width: var(--marquee-element-width);
  max-height: 100%;
  font-size: calc(var(--marquee-height) * 3 / 4); /* 5rem; */
  white-space: nowrap;
  margin-left: 25px;
}

.marquee-content li img {
  width: 100%;
  /* height: 100%; */
  /* border: 2px solid #eee; */
}

@media (max-width: 600px) {
  html {
    font-size: 12px;
  }
  :root {
    --marquee-width: 90vw;
    --marquee-height: 16vh;
    --marquee-elements-displayed: 3;
  }
  .marquee:before,
  .marquee:after {
    width: 5rem;
  }
}
/* particulas */
#particles-js {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: -1;
}
/* fin particulas */

/* !test */
h4.title {
  color: #000;
  margin-bottom: 0.5em;
  font-size: 1em;
  line-height: 1.2;
  font-weight: normal;
  margin-top: 0px;
  letter-spacing: -1px;
  text-transform: uppercase;
  border-bottom: 1px solid #ececec;
  padding-bottom: 13px;
}







